.slider {
  font-size: 13px;
  user-select: none;
  padding: 0.3em;
  background-color: var(--button-bg-color);
  box-shadow: var(--button-box-shadow);
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 0.4em;
  // flex-shrink: 1;
  // width: 15em;s

  input {
    display: none;
  }

  .option {
    padding: 0.1em 0.5em;
    cursor: pointer;
    z-index: 5;

    &:hover {
      color: #666;
    }
  }

  &_bar {
    position: absolute;
    left:  0;
    height: 84%;
    border-radius: 0.4em;
    background-color: var(--button-disabled-bg-color);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
