h4 {
  position: absolute;
  font-size: 12px;
  color: var(--wrong-color);
  top: 0.5em;
  right: 0;
}

.optionsForm {
  width: 100%;
  position: relative;

  input {
    margin-right: 0.3em;
  }
}

.pron {
  display: flex;
  justify-content: space-between;
}

.relativeBox {
  position: relative;
}

.target {
  display: flex;
  justify-content: space-between;

  .targetNum {
    width: 4em;
    border-radius: 0.4em;
    text-align: center;
    box-shadow: var(--button-box-shadow);
    border: none;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
