.wrapper {
  border: none;
  background-color: var(--button-bg-color);
  border-radius: 0.6em;
  padding: 0.2em 0.8em;
  font-size: 13px;
  color: var(--text-color);
  float: right;
  box-shadow: 3px 3px 7px 1px #232323;
  user-select: none;

  &:hover {
    background: var(--button-hover-bg-color);
  }

  &:disabled {
    color: var(--button-disabled-text-color);
    background: var(--button-disabled-bg-color);
  }
}
