@import './assets/styles/reset.scss';
@import './assets/styles/vars.scss';

body {
  font-family: -apple-system, 'Noto Sans', 'Helvetica Neue', Helvetica, 'Nimbus Sans L', Arial, 'Liberation Sans',
    'PingFang SC', 'Hiragino Sans GB', 'Noto Sans CJK SC', 'Source Han Sans SC', 'Source Han Sans CN', 'Microsoft YaHei',
    'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp', sans-serif;
  font-size: 18px;
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

// 这两个样式是用来控制答案的对错样式的
// 写在外 module.scss 外面是为了方便 remove 时候的操作
p.correct {
  opacity: 100%;
}
p.wrong {
  opacity: 100%;
  background-color: var(--wrong-color);
}

button.display {
  transform: rotate(-0.25turn);
}