:root {
  --body-bg-color: #22221f;
  --primary-bg-color: #2c2b29;
  --text-color: #e8e8e8;
  --tip-color: #999999;
  --hover-color: #e0e0e0;
  --correct-color: #008000;
  --wrong-color: #da0505;
  --button-bg-color: #3f3f3f;
  --button-hover-bg-color: #464646;
  --button-disabled-text-color: #878787;
  --button-disabled-bg-color: #282828;
}
